$colors: (
  accent: (
    main: #017de9
  ),
  gray: (
    main: #202325,
    secondary: #797b7c
  ),
  neutral: (
    main: #fff,
    bg: #f7f8fc,
    divider: #eeeff2
  ),
  garena: (
    main: #e41e26
  ),
  shopee: (
    main: #ee4d2d
  ),
  seamoney: (
    main: #000084
  )
);